<!DOCTYPE html>
<html>
<head>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 </head>
 <body>
<h1>Items</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_item_path %>
</body>
<html>